---
import PageLayout from "@layouts/PageLayout.astro"
import { SITE, SOCIALS } from "@consts"
import TwinklingStars from "@components/TwinklingStars.astro"
import MeteorShower from "@components/MeteorShower.astro"
---

<PageLayout title="Parcours" description={SITE.DESCRIPTION}>
    
    <!-- Light Mode: Particles -->
    <div class='absolute inset-0 block dark:hidden'>
        <div id='particles1' class='fixed inset-0'></div>
        <div id='particles2' class='fixed inset-0'></div>
        <div id='particles3' class='fixed inset-0'></div>
    </div>
    
    <!-- Dark Theme: Stars -->
    <div class='absolute inset-0 bg-black hidden dark:block'>
        <div id='stars1' class='fixed inset-0'></div>
        <div id='stars2' class='fixed inset-0'></div>
        <div id='stars3' class='fixed inset-0'></div>
    </div>
    
    <!-- Dark Theme: Twinkling Stars / Metors -->
    <div id="galaxy" class="fixed inset-0">
        <div class="hidden dark:block">
            <TwinklingStars/>
            <MeteorShower/>
        </div>
    </div>
    
    <script is:inline src="/js/bg.js"></script>
    
    <div class="animate relative">
        <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">
            
            <section></section>
            
            <!-- PARCOURS Section -->
            <section class="relative space-y-5">
                <article class="pb-0">
                    <h1>Parcours 📕</h1>
                    <h2>Expériences</h2>
                </article>
                
                <div class="grid grid-cols-4 grid-flow-col gap-4 border rounded-xl p-3 bg-white dark:bg-black">
                    <aside class="col-span-1">
                        <h6><strong><code>Août 2025</code></strong></h6>
                        <div class="h-full flex items-center justify-center">
                            <img src="logos/logo-dreets.jpg" width="60%"/>
                        </div>
                    </aside>
                    <div class="col-span-3">
                        <h6><strong><code>Direction Régionale de l'Économie, de l'Emploi, du Travail et des Solidarités (DREETS)</code></strong></h6>
                        <p>Développement de la version <strong>Accessibilité</strong> de PACÉO (projet réalisé lors de mon stage de BUT 2) pour un agent de la
                            DREETS malvoyant.
                        </p>
                        <p><em>Cité Marianne, Lille</em></p>
                    </div>
                </div>
                
                <div class="grid grid-cols-4 grid-flow-col gap-4 border rounded-xl p-3 bg-white dark:bg-black">
                    <aside class="col-span-1">
                        <h6><strong><code>Avril 2025</code></strong></h6>
                        <div class="h-full flex items-center justify-center">
                            <img src="logos/logo-dreets.jpg" width="60%"/>
                        </div>
                    </aside>
                    <div class="col-span-3">
                        <h6><strong><code>Stage à la DREETS (ITPMS)</code></strong></h6>
                        <p>Participation au développement d’une plateforme <strong>Webdev</strong> de conventionnement des entreprises, via la dématérialisation du 
                            CERFA 12156 (demande de subventions) dans un cadre <strong>agile</strong>, avec plateforme de gestion pour la DREETS. 
                            Réflexion et mise en place de l’<strong>acccessibilité</strong> sur la plateforme. 
                            Création d’un script Python pour automatiser le remplissage du PDF officiel du CERFA via une
                            bibliothèque externe.</p>
                        <p><em>Cité Marianne, Lille</em></p>
                    </div>
                </div>

                <!-- FORMATION -->
                <article class="pb-0">
                    <h2>Formations</h2>
                </article>
                <div class="grid grid-cols-4 grid-flow-col gap-4 border rounded-xl p-3 bg-white dark:bg-black">
                    <aside class="col-span-1">
                        <h6><strong><code>2023-2026</code></strong></h6>
                        <div class="flex items-center justify-center">
                            <img src="logos/logo-IUT.png" width="50%"/>
                        </div>
                    </aside>
                    <div class="col-span-3">
                        <h6><strong><code>BUT Informatique</code></strong></h6>
                        <p>Réalisation d'applications : conception, développement, validation.</p>
                        <p><em>IUT de Lille, Villeneuve d'Ascq</em></p>
                    </div>
                </div>
                <div class="grid grid-cols-4 grid-flow-col gap-4 border rounded-xl p-3 bg-white dark:bg-black">
                    <aside class="col-span-1">
                        <h6><strong><code>2022-2023</code></strong></h6>
                        <div class="flex items-center justify-center">
                            <img src="logos/logo-ndpo.png" width="50%"/>
                        </div>
                    </aside>
                    <div class="col-span-3">
                        <h6><strong><code>Baccalauréat Général</code></strong></h6>
                        <p>Spécialité Mathématiques et Informatique, option Mathématiques expertes</p>
                        <p><em>Lycée Notre-Dame de la Providence, Orchies</em></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
</PageLayout>